player-connection-mode=Listen
player-connection-guid=1024229584
player-connection-debug=0
player-connection-project-name=Gamenet_Module_1
player-connection-ip=192.168.0.105
player-connection-ip=172.28.124.52
player-connection-ip=26.30.205.0
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ab1eb3b8f780402aa40e4512ee6d03b6
